//variables that used over application
@import './assets/theme_variables/variables.scss';

//-============================================================================
//-===================================-shared-classes-=========================
//-============================================================================
.color--main{
    color:$main;
}
.color--sec{
    color:$sec;
}
.color--l-gray{
    color:$light-gray;
}
.color--white{
    color: white;
    &:hover{
        color: white;
    }
}
.color--gray{
    color: $gray;
}
.bg--main{
    background-color: $main;
}
.bg--sec{
    background-color: $sec;
}
.bg--l-gray{
    background-color: $light-gray;
}
.bg--white{
    background-color: $white;
}

.no--border{
    border: 0px;
}
.margin-top-20{
    margin-top: 20px;
}
.margin-b-15{
    margin-bottom: 15px;
}
.margin-l-15{
    margin-left: 15px;
}
.font-w-500 {
    font-weight: 500;
}
.cursor--pointer{
    cursor: pointer;
}
.float-left{
    float: left;
}


//-============================================================================
//-===================================-bootstrap override-=====================
//-============================================================================

input:focus
{
    box-shadow: none!important;
}

